.button {
    margin-top: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(68, 101, 248);
  }

  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }